<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpacalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPACalc">
        <activity
            android:name=".SGPA_Result_Activity"
            android:exported="false" />
        <activity
            android:name=".Percentage_Activity"
            android:exported="false" />
        <activity
            android:name=".GPA_Activity"
            android:exported="false" />
        <activity
            android:name=".CGPA_Activity"
            android:exported="false" />
        <activity
            android:name=".SGPA_Activity"
            android:exported="false" />
        <activity
            android:name=".Sem8_Activity"
            android:exported="false" />
        <activity
            android:name=".Sem7_Activity"
            android:exported="false" />
        <activity
            android:name=".Sem6_Activity"
            android:exported="false" />
        <activity
            android:name=".Sem5_Activity"
            android:exported="false" />
        <activity
            android:name=".Sem4_activity"
            android:exported="false" />
        <activity
            android:name=".Sem3_activity"
            android:exported="false" />
        <activity
            android:name=".Sem2_Activity"
            android:exported="false" />
        <activity
            android:name=".Sem1_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>